@import './--header.css';
@media (max-width: 1200px) {
    .conteudo-section-container {
        min-height: 540px !important;
    }
    .conteudo-subcontainer {
        /* height: 660px !important; */
        /* max-width: 75% !important; */
        overflow: hidden !important;
        overflow-y: scroll !important;
        margin: auto !important;
        /* position: inherit !important; */
    }
    .conteudo-subcontainer::-webkit-scrollbar{
        display: none;
    }
    .fixed-fundo {
        background-size: cover !important;
        background-position: center;
    }
    .conteudo-camada {
        min-width: inherit !important;
        flex-wrap: wrap;
        text-align: center;
        /* gap: 35px; */
    }
    .conteudo-camada-titulo, .conteudo-camada-texto {
        width: 100% !important;
    }
    .conteudo-camada-titulo h1 {
        padding: 0px 5px;
        font-size: 2rem !important;
        font-weight: lighter;
    }    .layer-conteudo.lc-1 {
        justify-content: center !important;
        align-items: center !important; 
        gap: 40px !important;
    }
    .conteudo-camada-cards {
        justify-content: center !important;
    }
    .card-contato {
        width: 100%;
        max-width: 200px;
        overflow: hidden;
        padding: .5rem !important;
    }
    .conteudo-camada-imagem, .conteudo-camada-imagem-contato {
        width: 100% !important;
        max-width: 284px !important;
    }
    .conteudo-camada-imagem-contato img {
        padding: 1.6rem !important;
    }
    .card-contato div {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        font-size: 1rem !important;
    }
    .card-contato div svg {
        width: 100% !important;
        height: 100% !important;
        max-width: 55px !important;
        max-height: 55px !important;
        padding: 0 !important;
    }
    .card-contato h2 {
        display: none;
    }
    
    /* .conteudo-camada-imagem img,
    .conteudo-camada-imagem-contato img {
        width: 95% !important;
        height: 95% !important;
    } */

    .conteudo-botao-website {
        flex-direction: column-reverse !important;
        align-items: center !important;
    }
    .conteudo-botao-website .website-slide-btn {
        margin: initial !important;
        transition: .35s;
    }
    .conteudo-botao-website .website-slide-btn:hover {
        transform: translate(0) !important;
    }

    .fundo-primeiro {
        clip-path: ellipse(900px 900px at 87% 88%) !important;
        background-image: url('../_banco_midias/_img/fundo.png') !important;
    }
    .fundo-segundo {
        background-image: url('../_banco_midias/_img/cartoon_space.jpg') !important;
        clip-path: ellipse(900px 900px at 30% 75%) !important;
    }
    .fundo-terceiro {
        background-image: url('../_banco_midias/_img/website-mob.webp') !important;
        clip-path: ellipse(900px 900px at 50% 75%) !important;
    }
    .fixed-fundo {
        clip-path: ellipse(900px 900px at 50% 75%) !important;
    }

    .site-progresso-container  {
        width: 100% !important;
        height: 100%;
        border-radius: 0px !important;
        overflow-y: auto !important;
        background-position: center !important;
    }
    .site-progresso-img {
        padding: 0 !important;
        width: 0% !important;
    }
    .site-progresso-infoctt h2 {
        text-align: center;
    }
    .site-progresso-infoctt p {
        width: 90% !important;
        background-color: #0000004f !important;
        line-height: 1.3;
        margin: 20px auto !important;
    }
    .progresso-fechar {
        justify-content: center !important;
    }
}